mixin menu-footer(name, lists)
  nav.menu-footer
    h2.menu-footer__title= name
    ul.menu-footer__lists 
      each item in lists
        li.menu-footer__list 
          a.menu-footer__link(href= item.link, target= (item.target ? "_blank": null))= item.nameLink
            if item.ellipse
              span.menu-footer__ellipse= item.ellipse


