section.services 
    .container 
        .services__wrapper 
            h2.services__title Fostering a playful & engaging learning environment
            ul.services__slider-cards.slider
                li.services__slider-card(tabindex="0") 
                    h3.services__slider-card-title.title-icon-1 interaction design
                    p.services__slider-card-content Lessons on design that cover the most recent developments.
                    a.services__slider-card-link Learn More
                li.services__slider-card(tabindex="0") 
                    h3.services__slider-card-title.title-icon-2 UX Design Course
                    p.services__slider-card-content Classes in development that cover the most recent advancements in web.
                    a.services__slider-card-link Learn More
                li.services__slider-card(tabindex="0") 
                    h3.services__slider-card-title.title-icon-3 User Interface Design
                    p.services__slider-card-content User Interface Design courses that cover the most recent  trends
                    a.services__slider-card-link Learn More
                li.services__slider-card(tabindex="0") 
                    h3.services__slider-card-title.title-icon-1 interaction design
                    p.services__slider-card-content Lessons on design that cover the most recent developments.
                    a.services__slider-card-link Learn More
                li.services__slider-card(tabindex="0") 
                    h3.services__slider-card-title.title-icon-2 UX Design Course
                    p.services__slider-card-content Classes in development that cover the most recent advancements in web.
                    a.services__slider-card-link Learn More
                li.services__slider-card(tabindex="0") 
                    h3.services__slider-card-title.title-icon-3 User Interface Design
                    p.services__slider-card-content User Interface Design courses that cover the most recent  trends
                    a.services__slider-card-link Learn More





