section.top-main 
    .container 
        .top-main__wrapper
            //- +icon("header-circles1")(width="414", height="414")
            //- +icon("header-circles2")(width="414", height="414")
            //- +icon("header-EllipseGreen")(width="285", height="476")
            //- +icon("header-EllipseOrang")(width="300", height="490")
            .top-main__content 
                h1.top-main__title 
                    | up your 
                    span skills 
                    br
                    | to 
                    span advance 
                    | your 
                    br
                    span career 
                    | path
                p.top-main__text Learn UI-UX Design skills with weekend UX . The latest online learning system and material that help your knowledge growing.
                .top-main__buttons
                    button.top-main__btn Get Started
                    button.top-main__btn Get free trial
                ul.top-main__communication-wrapper     
                    li.top-main__communication-speaker Public Speaking
                    li.top-main__communication-oriented Career-Oriented
                    li.top-main__communication-creative Creative Thinking
            .top-main__about
                .top-main__about-img
                    +pictureWebp("/img/header/girl@1x.png", "/img/header/girl@2x.png")
                .top-main__circle
                .top-main__card-video
                    p
                        span 2K+
                        Video Courses
                .top-main__card-online
                    p
                        span 5K+
                        Online Courses
                .top-main__card-tutors
                    p
                        Tutors
                        span 250+
            .top-main__partner 
                .top-main__partner-number 
                    p.top-main__partner-text 
                        span 250+
                        | Collaboration
                ul.top-main__partner-socials 
                    li.top-main__partner-social
                        +icon("header-duolingo")(width="154", height="39")
                    li.top-main__partner-social
                        +icon("header-codevecov")(width="187", height="36")
                    li.top-main__partner-social
                        +icon("header-UserTesting")(width="141", height="36")
                    li.top-main__partner-social
                        +icon("header-magicleap")(width="235", height="36")