@mixin truncate {
    // /* Текст не переносится */
    overflow: hidden;

    // /* Поля вокруг текста */
    white-space: nowrap;
    // /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis;
    // /* Добавляем многоточие */

}