extends ../layouts/default

block content
  main.main 
    include ../sections/parts_main_about/top.pug
    include ../sections/parts_main_about/benefits.pug
    include ../sections/parts_main_about/features.pug