extends ../layouts/default

block variables
  - var pageTitle = "Главная страница";
  - var pageDesc = "";
  // - var ogType = "website|article";

block content
  main.main
    include ../sections/parts_main_index/top-main.pug
    include ../sections/parts_main_index/our_services.pug
    include ../sections/parts_main_index/programs.pug
    include ../sections/parts_main_index/tutors.pug
    include ../sections/parts_main_index/reviews.pug
    include ../sections/parts_main_index/blogs.pug
