mixin socials(links={}, width = 24, height = 24)
  ul.socials
    each link in links
      li.social 
        a.social__link(href=link.link, target="_blank")
          +icon(link.nameLink)(width=width, height=height) 